* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: normal 400 11px/16px Inter, Roboto, sans-serif; /* default stack from Figma */
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.033333em;
}

svg {
  display: block;
  width: 100%;
}

h2,
h3,
p,
ul {
  margin: 0 0 12px 0;
  padding: 0;
}

h2,
h3 {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #9e9e9e;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.container .options {
  display: block;
  width: 100%;
}

.container ul,
.container ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container .select {
  display: block;
  width: 100%;
}

.container .select label {
  display: none;
}

.container .switch {
  margin-top: 12px;
}

.container footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
}

.container.padding {
  padding: 16px 8px 16px 8px;
}

.container.padding h2,
.container.padding h3,
.container.padding p,
.container.padding ul {
  padding-left: 8px;
  padding-right: 8px;
}

.container.padding p.select {
  padding: 0;
}

.container footer .mark {
  width: 26px;
  height: 32px;
}

.container .button.working {
  opacity: 0.5;
}

/*
  boilerplate
  source: Tom Lowry's Figma UI JS/CSS files
  link: https://www.figma.com/plugin-docs/figma-components/

  Comment any modifications for easier future updates.
  `stylelint` disabled to preserve original source code
*/

/* stylelint-disable */

.switch {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  /* letter-spacing: 0.005em; original */
  letter-spacing: 0.033333em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 32px;
  cursor: default;
}

.switch__toggle {
  /*display: none;*/
  /* custom below to allow for :focus */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.switch__toggle:checked + label:before {
  background-color: #000000;
}

.switch__toggle:checked + label:after {
  -webkit-transform: translateX(14px);
          transform: translateX(14px);
}

.switch__toggle:enabled:focus + label:before,
.switch__toggle:enabled:focus + label:after { /* custom */
  border-color: #18a0fb;
}

.switch__toggle:enabled:focus:checked + label:before { /* custom */
  background-color: #18a0fb;
}

.switch__toggle:disabled + label {
  opacity: 0.3;
}

.switch__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /*padding-left: 40px; original */
  padding-left: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.switch__label:before {
  position: absolute;
  top: 10px;
  /*left: 6px; original*/
  left: 8px;
  display: block;
  width: 24px;
  height: 10px;
  content: '';
  -webkit-transition: background-color 0 0.2s;
  transition: background-color 0 0.2s;
  border: 1px solid #000000;
  border-radius: 6px;
  background-color: #ffffff;
}

.switch__label:after {
  position: absolute;
  top: 10px;
  /*left: 6px; original*/
  left: 8px;
  display: block;
  width: 10px;
  height: 10px;
  content: '';
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: white;
}

/* .radio is a custom adaptation of .checkbox */
.radio {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  /*letter-spacing: 0.005em;*/
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 32px;
  cursor: default;
}

.radio__button {
  /*display: none;*/
  /* custom below to allow for :focus */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.radio__button:checked + label:after {
  position: absolute;
  top: 13px;
  left: 3px;
  content: '';
  background-color: #000000;
  width: 6px;
  height: 6px;
  border-radius: 6px;
}

.radio__button:enabled:focus + label:before { /* custom */
  border-color: #18a0fb;
}

.radio__button:enabled:focus:checked + label:after { /* custom */
  background-color: #18a0fb;
}


.radio__button:disabled + label {
  opacity: 0.3;
}

.radio__button:checked:disabled + label:before {
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
}

.radio__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio__label:before {
  display: block;
  width: 10px;
  height: 10px;
  margin: 2px 10px 0 0;
  content: '';
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
/* stylelint-enable */
