<div class="container padding">
  <section class="options">
    <h2>
      Language
    </h2>
    <p>
      <label>
        Language
      </label>
      <select>
        <option>
          A thing
        </option>
      </select>
    </p>
    <h3>
      Options
    </h3>
    <ul>
      <li class="radio">
        <input
          class="radio__button"
          type="radio"
          name="text-action"
          value="replace"
          id="text-replace"
          checked
        >
        <label
          class="radio__label"
          for="text-replace"
        >
          Replace existing text
        </label>
      </li>
      <li class="radio">
        <input
          class="radio__button"
          type="radio"
          name="text-action"
          value="duplicate"
          id="text-duplicate"
        >
        <label
          class="radio__label"
          for="text-duplicate"
        >
          Duplicate selected layers
        </label>
      </li>
      <li class="radio">
        <input
          class="radio__button"
          type="radio"
          name="text-action"
          value="new-page"
          id="text-new-page"
        >
        <label
          class="radio__label"
          for="text-new-page"
        >
          Create a new page
        </label>
      </li>
    </ul>
    <p class="switch">
      <input
        class="switch__toggle"
        id="locked"
        name="locked"
        type="checkbox"
        value="translate"
      >
      <label
        class="switch__label"
        for="locked"
      >
        Translate locked layers
      </label>
    </p>
  </section>
  <footer id="actions">
    <button class="button button--primary" id="doAThing">
      Do A Thing
    </button>
  </footer>
</div>
